* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    /* border: 1px solid red; */
}

body {
    margin-left: 8vw;
    margin-right: 15vw;
    background-color: #fefefa;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0.2rem;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 0.3rem;
}

h3 {
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 0.4rem;
}

p {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 0.4rem;
}

a:link {
    color: #191970;
    text-decoration: none;
}

a:hover {
    color: #318ce7;
    text-decoration: underline;
}

nav {
    width: 18vw;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    text-align: right;
    margin-top: 10vh;
    border-right: 1px solid gray;
    padding-right: 3vw;
    padding-top: 26vh;
    padding-bottom: 26vh;
}

nav li {
    list-style-type: none;
    padding: 0.2rem;
}

main {
    text-align: left;
    margin-left: 28vw;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.content {
    margin-top: 0.2rem;
    margin-bottom: 2rem;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.devicon-text {
    font-size: 1rem;
    background-color: #fefefa;
    padding: 0.4rem 0.5rem 0.5rem 0.5rem;
    border: 1px solid #191970;
    border-radius: 0.4rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.devicon-text i,
.devicon-text img {
    font-size: 0.9rem;
    height: 0.9rem;
    margin-right: 0.2rem;
}

#home {
    padding-top: 32vh;
    padding-bottom: 33vh;
}

#home a {
    font-size: 1.2rem;
    padding: 0.5rem;    
    margin-right: 0.5rem;
    border: 2px solid #fefefa;
}

/* #home a#mail {
    border: 2px solid #191970;
    border-radius: 0.3rem;
} */

#home a:hover {
    border: 2px solid #318ce7;
    border-radius: 0.3rem;
}

#my-tech-stack h3 {
    margin-bottom: 0.5rem;
}

#projects h3 {
    /* font-weight: bold; */
    margin-bottom: 0.5rem;
}

#projects .wrapper {
    margin-bottom: 0.2rem;
}

#projects .devicon-text {
    font-size: 0.8rem;
    padding: 0.2rem 0.3rem 0.2rem 0.3rem;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
}

#projects .devicon-text i,
#projects .devicon-text img {
    font-size: 0.8rem;
    height: 0.7rem;
}

footer {
    text-align: center;
    margin-top: 8vh;
    margin-bottom: 3vh;
}

footer p {
    font-size: small;
}

footer a:link {
    font-size: medium;
    text-decoration: underline;
}

/* responsive layout */
@media (max-width: 800px) {
    * {
        font-size: medium;
    }

    body {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    h1 {
        font-size: 3rem;
    }

    header {
        /* margin: 1.5rem; */
        background-color: black;
    }

    header a {
        /* color: black; */
        background-color: black;
    }

    nav {
        margin-left: -100vw;
    }

    main,
    header,
    footer {
        margin-left: 0;
    }
}
