* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

body {
    margin-left: 8vw;
    margin-right: 15vw;
    background-color: #fefefa;
}

h1 {
    font-size: 4em;
    margin-bottom: 0.2em;
}

h2 {
    font-size: 2em;
    font-weight: normal;
    /* padding-top: 20vh; */
    margin-bottom: 0.3em;
}

h3 {
    font-size: 1.4em;
    font-weight: normal;
    margin-bottom: 0.3em;
}

p {
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0.4em;
}

a:link {
    color: #191970;
    text-decoration: none;
}

a:hover {
    color: #318ce7;
    text-decoration: underline;
}

header {
    position: fixed;
}

header a {
    color: white;
}

nav {
    width: 18vw;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    text-align: right;
    margin-top: 10vh;
    border-right: 1px solid gray;
    padding-right: 3vw;
    padding-top: 26vh;
    padding-bottom: 26vh;
}

nav li {
    list-style-type: none;
    padding: 0.2em;
}

main {
    text-align: left;
    margin-left: 28vw;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#home {
    padding-top: 32vh;
    padding-bottom: 33vh;
}

#home a {
    padding-top: 0em;
    padding-bottom: 0.5em;
    padding-right: 2em;
}

/* #home .devicon-text {
    text-align: center;
    padding-right: 2em;
} */

#home i {
    font-size: 1.8em;
}

.devicon-div {
    display: flex;
    flex-wrap: wrap;
}

.content {
    margin-top: 0.2em;
    margin-bottom: 2em;
}

#my-tech-stack h3 {
    margin-bottom: 0.5em;
}

#my-tech-stack .devicon-text {
    text-align: center;
    padding: 0.5em;
    width: 5em;
}

#my-tech-stack .devicon-text p {
    padding-top: 0.2em;   
}

#my-tech-stack i,
#my-tech-stack img {
    font-size: 5vh;
    height: 5vh;
}

footer {
    text-align: center;
    margin-top: 8vh;
    margin-bottom: 3vh;
}

footer p {
    font-size: small;
}

footer a:link {
    font-size: medium;
    text-decoration: underline;
}

/* responsive layout */
@media (max-width: 800px) {
    * {
        font-size: medium;
    }

    body {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    h1 {
        font-size: 3em;
    }

    header {
        /* margin: 1.5em; */
        background-color: black;
    }

    header a {
        /* color: black; */
        background-color: black;
    }

    nav {
        margin-left: -100vw;
    }

    main,
    header,
    footer {
        margin-left: 0;
    }
}
